/* ========== POLICE GEORGIA ========== */
body, .title, .subtitle, .button, .input {
  font-family: Georgia, 'Times New Roman', serif !important;
}

/* ========== FOND & BASE ========== */
body {
  background-image: url('img/jef-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0b0800; /* ← COULEUR SECOURS si image ne charge pas */
  color: #090000bc;
}




